In [262]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

#loading Data
df = pd.read_csv('olukumi_local_english.csv')

In [263]:
#Previewing Data
print("HEAD:\n")
print(df.head())
print("\n")

print("INFO:\n")
print(df.info())
print("\n")

print("DESCRIBE:\n")
print(df.describe())

HEAD:

    Local Word English Meaning
0        ababe          poison
1     ábe  ̣́           below
2     ábe  ̣́          bottom
3     àbéké           knife
4  abọrọkpọ  spinning wheel


INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1668 entries, 0 to 1667
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Local Word       1668 non-null   object
 1   English Meaning  1662 non-null   object
dtypes: object(2)
memory usage: 26.2+ KB
None


DESCRIBE:

       Local Word English Meaning
count        1668            1662
unique       1625            1645
top           bí             fan
freq            3               2

Basic Data Cleaning

In [264]:
#Checking for missing values
df.isna().sum()

Local Word         0
English Meaning    6
dtype: int64

In [265]:
#Dropping missing values
df.dropna(inplace = True)

df.isna().sum()

Local Word         0
English Meaning    0
dtype: int64

In [266]:
#Checking For Duplicates
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Local Word, English Meaning]
Index: []

In [267]:
#Checking For Empty strings or white space
df['Local Word'] = df['Local Word'].str.strip()
df['English Meaning'] = df['English Meaning'].str.strip()

df.replace('',pd.NA,inplace=True)
print(df.isna().sum())

Local Word         0
English Meaning    0
dtype: int64

In [268]:
#Confirming Datatypes
print(df.dtypes)

Local Word         object
English Meaning    object
dtype: object

In [269]:
#making sure datatypes are all strings
df['Local Word'] = df['Local Word'].astype('str')
df['English Meaning'] = df['English Meaning'].astype('str')

In [270]:
df.head(15)

          Local Word English Meaning
0              ababe          poison
1           ábe  ̣́           below
2           ábe  ̣́          bottom
3           àbéké           knife
4        abọrọkpọ  spinning wheel
5      abo  ̣́wo  ̣́          armpit
6              àdá  hatchet, sword
7               adan             bat
8               adé           crown
9              adele    house lizard
10          ade  ̣́n           fried
11            adidun          stingy
12             afán             gun
13  afo  ̣̀máyàsé           bluff
14           afọsẹ      invocation

Looking for strange characters or symbols

In [271]:
import re
from textblob import TextBlob

#Remove unwanted characters.
def clean_text(text):
    # Keep: letters (a-z, A-Z), digits (0-9), spaces, hyphens, and accented letters (Latin-1 and Latin Extended)
    return re.sub(r"[^a-zA-Z0-9\s\-\u00C0-\u024F]", "", text)

df.head(15)

          Local Word English Meaning
0              ababe          poison
1           ábe  ̣́           below
2           ábe  ̣́          bottom
3           àbéké           knife
4        abọrọkpọ  spinning wheel
5      abo  ̣́wo  ̣́          armpit
6              àdá  hatchet, sword
7               adan             bat
8               adé           crown
9              adele    house lizard
10          ade  ̣́n           fried
11            adidun          stingy
12             afán             gun
13  afo  ̣̀máyàsé           bluff
14           afọsẹ      invocation

In [272]:
#Splitting multiple English meanings (separated by commas) into lists
df["English Meaning"] = df["English Meaning"].astype(str).str.split(",")

#Expanding the DataFrame so each English meaning gets its own row
df_expanded = df.explode("English Meaning")

#Removing leading and trailing spaces from each English meaning
df_expanded['English Meaning'] = df_expanded['English Meaning'].str.strip()

df_expanded.head(15)

          Local Word English Meaning
0              ababe          poison
1           ábe  ̣́           below
2           ábe  ̣́          bottom
3           àbéké           knife
4        abọrọkpọ  spinning wheel
5      abo  ̣́wo  ̣́          armpit
6              àdá         hatchet
6              àdá           sword
7               adan             bat
8               adé           crown
9              adele    house lizard
10          ade  ̣́n           fried
11            adidun          stingy
12             afán             gun
13  afo  ̣̀máyàsé           bluff

Check for Language Consistency

In [273]:
# Import the Natural Language Toolkit and the English word list
import nltk
from nltk.corpus import words

# Download the word list
nltk.download('words')

# Create a set of valid English words for fast lookup
english_vocab = set(words.words())

# Define a function to check if a given word is not in the English word list
def is_misspelled(word):
    return str(word).lower() not in english_vocab

# Apply the misspelling check across the "English Meaning" column
# Count how many words are not recognized as valid English
misspelled_count = df_expanded["English Meaning"].apply(is_misspelled).sum()

# Display the total number of misspelled or unrecognized English words
print("Number of badly spelled words:", misspelled_count)

Number of badly spelled words: 181

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Emigb\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [274]:
# Identify and extract all misspelled words from the "English Meaning" column.
misspelled_words = df_expanded["English Meaning"][df_expanded["English Meaning"].apply(is_misspelled)]

# Convert to lowercase, remove any missing values (NaN), and eliminate duplicates.
unique_misspelled = misspelled_words.dropna().str.lower().unique()

# Convert the result to a list and print it for easier viewing.
print(list(unique_misspelled))

['spinning wheel', 'house lizard', 'bawdy', 'horriplate', 'for storage', 'fish basket', 'horn pipe', "adam's apple", 'in law', 'brother-in-law', 'old age', 'weaver bird', 'bee wax', 'sole of foot', 'palm of hand', 'cauldron', 'wooden plank', 'mint leaf', 'unmoveable', 'old days', 'great grandfather', 'as usual', 'etc', 'as if', 'according to', 'lessen. cháchá', 'self-defence', 'waist thread', 'half dried', 'vapour', "coconut's oil", 'mole rat', 'half boil', 'country people', 'clod of earth', 'hood of serpent', 'earlobe', 'tooth ache', 'body part', 'neighbour', 'fish trap of conical shape', 'centre', 'chicken egg', 'ear drum', 'embers', 'boil. ẹ́ ghó àyáká 4', 'eye ball', 'bride price', 'nook and cranny', 'palm wine', 'garden lizard', 'shop keeper', 'pick pocket', 'hunter', 'group leader', 'labourer', 'nape of the neck', 'backyard', 'day before yesterday', 'gills', 'proud', 'hunger strike', 'current of water', 'forced labour', 'distil', 'fart', 'gun powder', 'whimp', 'chicken pox', 'scabbies', 'broom stick', 'testicles', 'grain particles', 'white hair', 'cactus', 'door frame', 'palm tree', 'collar bone', 'cotton plant', 'kinsmen', 'kith and kin', 'eye lashes', 'siblings', 'lice', 'diarrhoea', 'waist chain', 'co wife', 'ghost. ire runo kan 11', 'curly hair', 'knotty hair', 'ear of corn', 'cross roads', 'childless couple', 'ancestors', 'shit', 'fish scale', 'dwelling site', 'hang', 'clear out', 'at all', 'mosquito larvae', 'big red', 'recognise', 'compare with', 'shoulder blade', 'self-respect', 'ó ne ne kòkò', 'kolanut', 'betrothed bride', 'billy goat', "cock's comb", 'elbow bone', 'neck bone', 'black art', 'winged ant', 'eye lid', 'intestinal parasite', 'grinding stone', 'breast milk', 'tooth twig', 'groundnut oil', 'seven hundred', 'lamp wick', 'fed up', 'fish species', 'sore foot', 'soap suds', 'husband. o kpan ekpome 28', 'offering plate', 'male child', 'adolescent (male)', 'calf of cow', 'orphan. ọmoníle ̣̀ adj. aboriginal', 'by any means', 'one hundred', 'five hundred', 'day after tomorrow', 'fore arm', 'odour', 'abide by', 'observe to', 'last rites', 'fulfil', 'lean and thin', 'sort out', 'for that reason', 'due to', 'burning sensation in the mouth', 'offence', 'buttocks', 'molar teeth', 'gourd vessel', 'burial ground', 'eye socket', 'bitter gourd', 'one with six fingers on each hand', 'liquor shop', 'sudden flight', '(n). different(ce)', 'smoking pipe', 'sugarcane', 'angling rod', 'moon beam', 'residential house', 'spider web', 'handloom', 'goat shed', 'pen for animals', 'orphanage', 'police station', 'clay house', 'box of matches', 'god(ess)', 'eye disease', 'marvellous', 'earthen pot', 'calf of leg', 'daily work', 'she goat', 'topsy-turvy', 'suffer. view publication stats']

In [275]:
#Removing Rows where the English column contains Local words

import unicodedata

# Making sure all entries in the "English Meaning" column are treated as strings
df['English Meaning'] = df['English Meaning'].astype(str)

# Function to detect accented characters in a word
def contains_accented(word):
    # Decompose characters into base and accent using Unicode normalization
    normalized = unicodedata.normalize('NFD', word)
    # Return True if any decomposed character is a nonspacing mark (i.e., accent)
    return any(char for char in normalized if unicodedata.category(char) == 'Mn')

# Check each word in the column for accents and store result in a new column
df_expanded['has_accented'] = df_expanded['English Meaning'].apply(contains_accented)

df_expanded[df_expanded['has_accented']==True]

,Local Word,English Meaning,has_accented
194,bùwálẹ̀,lessen. cháchá,True
347,e ̣́ghíghó,boil. ẹ́ ghó àyáká 4,True
1017,núrún gede,ó ne ne kòkò,True
1232,ọmómàne ̣́bámàne ̣́ye,orphan. ọmoníle ̣̀ adj. aboriginal,True

In [276]:
# Removing all rows where an accented character was found
df_cleaned = df_expanded[~df_expanded['has_accented']].copy()

#Making sure all accented characters have been cleaned from the
df_cleaned[df_cleaned['has_accented']==True]

Empty DataFrame
Columns: [Local Word, English Meaning, has_accented]
Index: []

In [277]:
df_cleaned['English Meaning'] = df_cleaned['English Meaning'].str.lower()

In [278]:
# Drop the temporary helper column and reset row index
df_cleaned.drop(columns=['has_accented'], inplace=True)
df_cleaned.reset_index(drop=True, inplace=True)

In [279]:
# Display the first few cleaned records
print(df_cleaned.head())

    Local Word English Meaning
0        ababe          poison
1     ábe  ̣́           below
2     ábe  ̣́          bottom
3     àbéké           knife
4  abọrọkpọ  spinning wheel

 Export Cleaned and Validated Data

In [280]:
df_cleaned.to_csv("olukumi_validated_copy.csv", index=False)